* {
    box-sizing: border-box;
	margin: 0;
	font-family: fantasy;
}
body {
	height: 100vh;
	background-color: black;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;	
}
#clock {
	display: flex;
	justify-content: center;
}
#left-side-digit-box > * {
	color: white;
}
.digits {
	border: none;
	font-size: 15vw;
	width: 17vw;
	color: red;
	background: black;
}
.digits:focus, .breakdigits:focus {
	outline: none;
}
.dots{
	position: relative;
	top: -0.1em;
}
#right-side-digit-box{
	display: flex;
	flex-direction: column-reverse;
}
.breakdigits {
	border: none;
	font-size: 7vw;
	width: 8vw;
}
#loop {
	font-size: 4vw;
	width: 3vw;
	color: #9d333d;
}
#hint{
	display: inline;
	color: white;
	font-family: cursive;
}
#controller {
	display: flex;
	justify-content: center;
}
#controller > * {
	border: none;
	font-size: 10vh;
	background: black;
	color: #67020b;
}
#controller > *:focus {
	outline: none;
}